/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
.header {
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
  cursor: pointer;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.landing {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* Start Landing Section */
/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-container .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-container .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-container .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-container .srv .text {
  flex: 1;
}
.services .services-container .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-container .srv .text p {
  color: #777;
  font-weight: 300;
}
.services .services-container .image {
  text-align: center;
  position: relative;
}
.services .services-container .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-container .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-container .card {
  background-color: white;
  cursor: pointer;
}
.portfolio .portfolio-container .card img {
  max-width: 100%;
}
.portfolio .portfolio-container .card .info {
  padding: 20px;
}
.portfolio .portfolio-container .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-container .card .info p {
  color: #777;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 0;
}
/* End Portfolio */

/* Start About */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .about-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-container {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-container .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-container .image {
    margin: 0 auto 60px;
  }
}
.about .about-container .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-container .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -70px;
}
@media (max-width: 991px) {
  .about .about-container .image::before {
    display: none;
  }
  .about .about-container .image::after {
    display: none;
  }
}
.about .about-container .image img {
  max-height: 100%;
  width: 250px;
  height: 375px;
  object-fit: cover;
}
.about .about-container .text {
  flex-basis: calc(100% - 500px);
}
.about .about-container .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-container .text hr {
  width: 50%;
  display: inline-block;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.about .about-container .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  transition: var(--main-duration);
}
.contact .info .link:hover{
  color: var(--secondary-color);
}
@media (max-width: 384px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
.contact .info .social {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
  font-size: 15px;
}
.contact .info .social p {
  font-size: 10px;
  margin-top: 2px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
  transition: var(--main-duration);
}
.contact .info .social i:hover{
  color: var(--main-color);
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.footer span {
  color: var(--main-color);
}

/* End Footer */

.home {
  background-color: var(--main-color);
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 55px;
  z-index: 2;
  right: 20px;
  opacity: 50%;
  overflow: hidden;
  transition: var(--main-duration);
}
.home:hover {
  opacity: 100%;
}
.home i {
  color: var(--secondary-color);
  padding: 10px;
}
.home a {
  color: var(--secondary-color);
  padding: 10px;
}
